#root {
  height: 100%;
}

.header {
  background-color: $darkgray;

  .logo {
    height: 7vmin;
  }
}

// .main-menu {
//   width: 15vmax;
// }

.ant-form {
  width: 30vmin;

  .ant-form-item-control {
    line-height: 1.5;
  }

  .ant-form-explain {
    font-size: 13px;
  }
}

.ant-menu-vertical {
  border-right: none;
}