#root {
  height: 100%;
}

.header {
  background-color: $darkgray;

  .logo {
    height: 7vmin;
  }
}

.ant-card {
  .ant-card-meta {
    min-height: 118px;

    .ant-card-meta-description {
      color: $gray;
    }

    .ant-card-meta-title {
      margin-bottom: 25px;
    }
  }

  .ant-card-actions {
    border-top: 1px solid $gray;

    > li:not(:last-child) {
      border-right: 1px solid $gray;
    }

    > li {
      > span {
        > .anticon {
          color: $gray;
        }

        > .anticon:hover {
          color: $darkgreen;

          &.warning {
            color: $darkyellow;
          }

          &.dangerous {
            color: $darkred;
          }
        }
      }
    }
  }
}

.ant-form {
  width: 30vmin;

  .ant-form-item-control {
    line-height: 1.5;
  }

  .ant-form-explain {
    font-size: 13px;
  }
}

.ant-menu-vertical {
  border-right: none;
}