#root {
  height: 100%;
}

.header {
  background-color: $darkgray;

  .logo {
    height: 7vmin;
  }
}

.dynamic-delete-button {
  color: $darkgreen;
}


// ANTD

.ant-empty-description {
  color: $gray;
}

.ant-switch {
  background-color: $gray;

  &.ant-switch-checked {
    background-color: $darkgreen;
  }

  .ant-switch-inner {
    color: $darkgray;
  }
}

.ant-card {
  .action-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 155px;
    color: $gray;

    &:hover {
      .anticon {
        color: $darkgreen;
      }
    }
  }

  &.ant-card-bordered {
    border: 1px solid $gray;

    &:hover {
      border: 1px solid $darkgreen;
    }
  }

  .ant-card-meta {
    min-height: 118px;

    .ant-card-meta-description {
      color: $gray;
    }

    .ant-card-meta-title {
      margin-bottom: 10px;
    }
  }

  .ant-card-actions {
    border-top: 1px solid $gray;

    > li:not(:last-child) {
      border-right: 1px solid $gray;
    }

    > li {
      > span {
        > .anticon {
          color: $gray;

          &:hover {
            color: $darkgreen;
  
            &.warning {
              color: $darkyellow;
            }
  
            &.dangerous {
              color: $darkred;
            }
          }
        }
      }
    }
  }
}

.ant-form {
  &.auth {
    width: 30vmin;
  }

  .ant-form-item-control {
    line-height: 1.5;
  }

  .ant-form-explain {
    font-size: 13px;
  }
}

.ant-menu-vertical {
  border-right: none;
}