.d-f {
  display: flex;
}
.d-b {
  display: block;
}
.d-n {
  display: none;
}
.d-ib {
  display: inline-block;
}
.fw-n {
  flex-wrap: nowrap;
}
.fw-w {
  flex-wrap: wrap;
}
.ai-fs {
  align-items: flex-start;
}
.ai-c {
  align-items: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-st {
  align-items: stretch;
}
.as-fs {
  align-self: flex-start;
}
.as-c {
  align-self: center;
}
.as-fe {
  align-self: flex-end;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fe {
  justify-content: flex-end;
}
.f-d-column {
  flex-direction: column;
}
.f-d-row {
  flex-direction: row;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute !important;
}
.pos-s {
  position: static;
}
.o-h {
  overflow: hidden;
}
.o-a {
  overflow: auto;
}
.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.v-a-t {
  vertical-align: top;
}
.v-a-m {
  vertical-align: middle;
}
.v-a-b {
  vertical-align: bottom;
}
.fixed {
  position: fixed;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.abs-center,
.abs-centerd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@for $i from -500 through 500 {
  .m-#{$i} {
    margin: $i + 0px !important;
  }

  .m-b-#{$i} {
    margin-bottom: $i + 0px !important;
  }

  .m-t-#{$i} {
    margin-top: $i + 0px !important;
  }

  .m-l-#{$i} {
    margin-left: $i + 0px !important;
  }

  .m-r-#{$i} {
    margin-right: $i + 0px !important;
  }

  .m-v-#{$i} {
    margin-top: $i + 0px !important;
    margin-bottom: $i + 0px !important;
  }

  .m-h-#{$i} {
    margin-left: $i + 0px !important;
    margin-right: $i + 0px !important;
  }
}

/* PADDINGS */

@for $i from 0 through 500 {
  .p-#{$i} {
    padding: $i + 0px !important;
  }

  .p-b-#{$i} {
    padding-bottom: $i + 0px !important;
  }

  .p-t-#{$i} {
    padding-top: $i + 0px !important;
  }

  .p-l-#{$i} {
    padding-left: $i + 0px !important;
  }

  .p-r-#{$i} {
    padding-right: $i + 0px !important;
  }

  .p-v-#{$i} {
    padding-top: $i + 0px !important;
    padding-bottom: $i + 0px !important;
  }

  .p-h-#{$i} {
    padding-left: $i + 0px !important;
    padding-right: $i + 0px !important;
  }
}

/* Flex */

@for $i from 1 through 10 {
  .flx-#{$i} {
    flex: $i;
  }
}

/* WIDTH */

@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i + 0%;
  }
}

/* HEIGHT */

@for $i from 1 through 100 {
  .h-#{$i} {
    height: $i + 0%;
  }
}

/* FONT */

@for $i from 0 through 500 {
  .f-s-#{$i} {
    font-size: $i + 0px;
  }
}